body {
    background: #B70128;
    font-family: 'Times New Roman', Times, serif;
    color: #000000;

    user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
}

#text {
    position: absolute;
    top: 25%; left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    
    font-size: 10vmin;
}

#rose {
    position: absolute;
    bottom: 5vmin; left: 5vmin;
    width: 25vmin;

    display: none;
}